<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <title>Cut Url</title>
    
</head>
<body>
    <%- include('partials/nav') %>
    <header>
        <div class="header-left">
            <h1>CUT-URL</h1>
            <h2>Shorten & customize long url links and we help you save them along with analytics on those generated links</h2>
            <button id="get-started">Get Started</button>
        </div>
        <div class="header-right">
            <img src="/assets/header-svg.svg" alt="" srcset="">
        </div>
    </header>
    <script src="/scripts/index.js"></script>
</body>
</html>